
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");


body{
    background-color: gainsboro; 
    height: 100vh;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Roboto", sans-serif;
}
.content__body{
    min-width: 490px;
    max-height: 450px;
    max-width: 900px;
    height: 55%;
    width: 60%;
}

/* nav menu */
.step__nav{
 background-color: white;
 color:rgb(197, 197, 197);
 border-radius: 0.7%;
 height: 10%;
 font-size: 0.6rem;
 font-weight: 600;
 margin-bottom: 2px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.nav__step{
    height: 100%;
    display: flex;
    align-items: center;
  
}
.nav__step.active{
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3082ac;
    color: #3082ac;
}
.nav__text{
    font-size: 0.5rem;
}
/* steps content */
.step__content{
  background-color: white;
  height: 100%;
  padding: 5px;
  /* border: 2px solid blue; */
}
.step{
 background-color: white;
 height: 100%;
 border-radius: 0.5%;
 display: flex;
 flex-direction: row;
 /* border: 2px solid blue; */
 display: none;
}
.step.active{
 background-color: white;
 height: 100%;
 border-radius: 0.5%;
 display: flex;
 flex-direction: row;
 /* border: 2px solid blue; */
 display: flex;
}
/* left par content */
.left__content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left__text{
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
.left__botom{
    padding: 5px;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* right part content */
.right__content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column; 
}
.right__text{
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    
}
.right__botom{
    padding: 5px;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* comon parts of contet */
.text__header{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem ;
    font-weight: bold;
}
.btn__prev{
    color: #3082ac;
    cursor: pointer;
    margin: 5px;
    font-size: 0.6rem;
    font-weight: 700;
}


/* step1 YOUR ORDER parts  */
.img__laptop img{
  margin-left: 35px;
    width: 80%;
    object-fit:fill;
}
p{
    font-size: 0.5rem ;
}
.instok{
    color: green;
    font-size: 0.6rem;
}
.price{
    margin-top: 10px;
    color: rgba(255, 0, 0, 0.637);
    font-size: 0.8rem;
}
/* step2 SHIPPING DETAILS parts */
.form__contact  input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
#surname{
    margin-left: 20px;
}
select{
    border-radius: 3px;
    border: 1px solid #d7dbdb;
    box-shadow: inset 0 -1px 0 0 #d7dbdb;
    color: #464c4f;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 15px;
}
#selected1{
  display: block;
}
/*    autocomplete    */
.autocomplete {
  width: 100%;
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  color: #464c4f;
  font-size: 0.5rem;
  padding: 5px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



/* step3 PAYMENT DETAILS parts */

.card__body{
  font-size: 1rem;
  color: whitesmoke;
  border-radius: 7px;
  padding: 10px;
  width: 78%;
  height: 50%;
  background-color: #3580aa;
  display: flex;
  flex-direction: column;
}
.card__visa{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.visa__logo{
  margin-right: 10px;
  font-size: 1.7rem;
}
.card__chip{
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
}
.card__number{
  margin-top: 0.2rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
}
.card__year{
  margin-top: 1.6rem;
  width: 100%;
  display: flex;
  justify-self: flex-end;
}
.card__name{
  width: 70%;
}
form {
  height: 95%;
  width: 80%;
  min-height: 0;
  min-width: 0;
 /* border: 1px solid black; */
}
form input {
  position: relative;
  margin-top: -12px;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 7;
  padding: 7px 0 0 0;
  font-size: 12px;
  background: none;
  width: 100%;
  outline: none;
  color: #000;
}
form input:focus {
  border-bottom: 1.5px solid #3580aa;
}
form input:focus + h7 {
  color: red;
}
.input__top {
  min-width: 0;
  min-height: 0;
  margin-top: 0.8rem;
  position: relative;
  color: #c1c1c1;
}
.input__top:after {
  position: absolute;
  content: attr(data-top);
  top: -8px;
  left: 0;
  height: 8px;
  font-size: 10px;
  letter-spacing: .5px;
}
.date__cvv{
    display: flex;
    flex-direction: row;
}
#valid {
  margin-right: 13px;
}
#cvv {
  margin-left: 13px;
}
.button__pay{
  margin-top: 1.5rem;
  height: 35px;
  width: 100%;
  background-color: #3580aa;
  border-radius: 5px;
  border: none !important;
  letter-spacing: .5px;
  font-size: 13.5px;
  color: #acccdd;
  cursor: pointer;
  text-transform: uppercase;
}
button:focus {
  outline: none;
}
button span {
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
}

/* step4 CONFIRMATION parts */
.order__details{
    display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}
.order__item{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.order__item img{
  margin-left: 10px;
  height: 100%;
  width: 35%;
  object-fit: fill;
}
.order__text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}


/* madia */
@media (max-width: 900px) {
  .text__header{
    font-size: 13px;
  }
  .content__body{
    height: 75%;
    width: 80%;
  }
    .order__text{
    font-size: x-small;
}

}

@media (max-width: 680px) {
   .nav__text{
    font-size: 10px;
}
  .text__header{
    font-size: 10px;
  }
  .content__body{
    height: 80%;
    width: 80%;
  }
   .order__text{
    font-size: 10px;
}
 .price{
    font-size: 7px;
  }
   .text__about{
    font-size: 8px;
  }
  .instok{
    font-size: 7px;
  }
   .select__botton{
    font-size: 8px;
    width: 50%;
    height: 15px;
  }
  .input__top{
       font-size: 6px;
  }
  .input__top input{
       font-size: 6px;
  }
  .input__top:after{
    font-size: 5px;
  }
  .btn__prev{
    font-size:8px ;
  }
}

@media (max-width: 500px) {
  .nav__text{
    font-size: 7px;
}
  .text__header{
    font-size: 8px;
  }
  .content__body{
    height: 100%;
    width: 90%;
  }
  .img__laptop{
    width: 130px;
    height: 150px;
  }
  .text__about{
    font-size: 5px;
  }
  .instok{
    font-size: 6px;
  }
  .select__botton{
    width: 60%;
    height: 15px;
  }
  .btn__prev{
    font-size:6px ;
  }

}

@media (max-width: 400px) {
   .text__header{
    font-size: 5px;
  }
  .nav__text{
    font-size: 5px;
}
  
  .content__body{
    height: 100%;
    width: 100%;
  }
  .price{
    font-size: 5px;
  }
  .text__about{
    font-size: 3px;
  }
  .price{
    font-size: 4px;
  }
  .instok{
    font-size: 4px;
  }
   .select__botton{
    width: 80%;
    height: 15px;
  }
  .btn__prev{
    font-size:5px ;
  }
}

