
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Arimo|Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
} 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}




body{
    background-color: whitesmoke; 
    height: 100vh;
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
     font-family: "Roboto", sans-serif;
     
}
.content__body{
    min-width: 490px;
    max-height: 550px;
    max-width: 850px;
    height: 75%;
    width: 65%;
    box-shadow: 0px 0px 20px -6px rgb(34 60 80 / 20%);
}


/* nav menu */
.step__nav{
 background-color: white;
 color:rgb(197, 197, 197);
 border-radius: 0.7%;
 height: 10%;
 font-size: 0.6rem;
 font-weight: 600;
 margin-bottom: 2px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.navbtn__step{
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-weight: 600;
}
.navbtn__step.active{
  transition:  0.25s;
  border-bottom: 2px solid #3082ac;
  color: #3082ac;
}
.nav__text{
  font-size: 0.5rem;
}

/* steps content */
.step__content{
  background-color: rgba(255, 255, 255, 0.87);
  height: 90%;
  padding: 5px;
}
.step{
 background-color: white;
 height: 80%;
 border-radius: 0.5%;
 display: none;
}
.step.active{
 background-color: white;
 height: 80%;
 border-radius: 0.5%;
 display:flex;
}
.btn__area{
  padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.btn__next{
    color: #3082ac;
    cursor: pointer;
    margin: 5px;
    font-size: 0.6rem;
    font-weight: 700;
}
.btn__prev{
    visibility: hidden;
    color: #3082ac;
    cursor: pointer;
    margin: 5px;
    font-size: 0.6rem;
    font-weight: 700;
}
.btn__prev:hover {
  transform: scale(1.05);
}
.btn__next:hover {
  transform: scale(1.05);
}


/* left par content */
.left__content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left__text{
  padding: 10px;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

/* right part content */
.right__content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column; 
}
.right__text{
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    
}

/* comon parts of contet */
.text__header{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem ;
    font-weight: bold;
}



/* step1 YOUR ORDER parts  */

.items__body{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header__list{
  position: relative;
    font-size: 10px;
    font-weight: 400;
    color: #d3d3d3;
    width: 90%;
    padding: 12px 5% 12px 5%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas: "product-title . quantity-title price-title";
}

.item{
    grid-area: product-title;
    text-align: left;
}
.quantity{
grid-area: quantity-title;
    text-align: center;
    padding-left: 3vw;
  
}
.price{
    grid-area: price-title;
    text-align: right;
    padding-left: 3vw;
}

.header__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    border-bottom: 1px solid #e2e2e2;
}
.items__content{
    position: relative;
    width: 90%;
    padding: 18px 5%;
    font-size: 12px;
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-areas: "product-photo product-description quantity price";
    overflow: hidden;
}
.order__img{
    grid-area: product-photo;
    display: flex;
    align-items: center;
    max-height: 100%;
}
.order__details{
  grid-area: product-description;
    padding-left: 3vw;
    overflow: hidden;
}
.order__quantity{
grid-area: quantity;
    padding-left: 3vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order__price{
grid-area: price;
    text-align: right;
    padding-left: 3vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.img__laptop img{
  margin-left: 35px;
    width: 70%;
    object-fit:fill;
}

.instok{
    color: green;
    font-size: 0.6rem;
}

/* step2 SHIPPING DETAILS parts */
#stret{
  margin-right: 20px;
}

.form__contact  input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
#surname{
    margin-left: 20px;
}
.select__botton{
    border: none;
    box-shadow: inset 0 -1px 0 0 #d7dbdb;
    color: #464c4f;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 25px;
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 15px;
    width: 100%;
}
#selected1{
  display: block;
}
/*    autocomplete    */
.autocomplete {
  width: 100%;

}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  color: #464c4f;
  font-size: 0.5rem;
  padding: 5px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



/* step3 PAYMENT DETAILS parts */

.master__logo{
  height: 100%;
  display: none;
}
.visa__logo{
  height: 100%;
}
.card__body{
  max-width: 280px;
  min-width: 200px;
  font-size: 1rem;
  color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
  width: 78%;
  height: 53%;
  background: linear-gradient(90deg, #3081ac 0%, #4197be 100%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px -6px rgb(34 60 80 / 20%);
}
.card__visa{
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#masterLogo{
  display: none;
  margin-right: 6px;
  font-size: 1.2rem;
}
#visaLogo{
  margin-right: 6px;
  font-size: 1.2rem;
}
.chip{
  height: 100%;
}
.card__chip{
  height: 28px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.card__number{
  margin-top: 0.8rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
}
.card__year{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-self: flex-end;
}
.card__name{
  width: 70%;
}
form {
  height: 95%;
  width: 80%;
  min-height: 0;
  min-width: 0;
 /* border: 1px solid black; */
}
form input {
  position: relative;
  margin-top: -12px;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 7;
  padding: 7px 0 0 0;
  font-size: 12px;
  background: none;
  width: 100%;
  outline: none;
  color: #000;
}
form input:focus {
  border-bottom: 1.5px solid #3580aa;
}
form input:focus + h7 {
  color: red;
}
.input__top {
  min-width: 0;
  min-height: 0;
  margin-top: 0.8rem;
  position: relative;
  color: #c1c1c1;
}
.input__top:after {
  position: absolute;
  content: attr(data-top);
  top: -8px;
  left: 0;
  height: 8px;
  font-size: 10px;
  letter-spacing: .5px;
}
.date__cvv{
    display: flex;
    flex-direction: row;
}
#validInput {
  margin-right: 13px;
}
#cvvInput {
  width: 100%;
  margin-left: 13px;
}
.button__pay{
  margin-top: 1.5rem;
  height: 35px;
  width: 100%;
  background: linear-gradient(90deg, #3081ac 0%, #4197be 100%);
  border-radius: 5px;
  border: none !important;
  letter-spacing: .5px;
  font-size: 13.5px;
  color: #acccdd;
  cursor: pointer;
  text-transform: uppercase;
}
.button__pay:hover{
  transform: scale(1.03);
}
button span {
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
}

/* step4 CONFIRMATION parts */

.confir__content{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.order__details{
    display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}
.order__item{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.order__item img{
  margin-left: 10px;
  height: 100%;
  width: 35%;
  object-fit: fill;
}
.order__text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}


